.text-message-container {
    display: flex;
    align-items: flex-end;

    .text-message-content {
        border-radius: 8px;
        padding: 4px;
    }

    &.anna {
        flex-direction: row-reverse;
        .text-message-content {
            background-color: #4267B2;
            margin-right: 8px;
        }
    }
    &.bob {
        .text-message-content {
            background-color: #8D8E91;
            margin-left: 8px;
        }
    }
}