.container {
  min-height: 100%;
  min-width: 100%;
}

.loading-spinner-container {
  padding: 2rem;
  display: flex;
  width: 100%;
  justify-content: center;
}

.fruit-row:nth-of-type(odd) {
  background-color: #FAFAFA;
}

.fruit-row.special-row-color {
  background-color: #31BF5D;
}

.fruit-row td:last-child,
th.mdc-data-table__header-cell:last-child {
  text-align: end;
}

.bold {
  font-weight: bold;
}